<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Radium HTML5 Agency Template | About Style One</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header -->
    <header class="main-header">
    	<!-- Header Top -->
    	<div class="header-top">
        	<div class="auto-container clearfix">
            	<!-- Top Left -->
            	<div class="top-left">
                	<ul class="clearfix">
                    	<li><a href="#">Welcome to Radium - SEO &amp; Marketing Template</a></li>
                        <li><a href="#"><span class="icon flaticon-phone325"></span> Call us +49 1234 5678 9</a></li>
                    </ul>
                </div>
                
                <!-- Top Right -->
                <div class="top-right">
                	<!--Social Links Style One-->
                	<div class="social-links-one clearfix">
                    	<a href="#" class="facebook"><span class="fa fa-facebook-f"></span></a>
                        <a href="#" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#" class="google-plus"><span class="fa fa-google-plus"></span></a>
                        <a href="#" class="linkedin"><span class="fa fa-linkedin"></span></a>
                        <a href="#" class="pinterest"><span class="fa fa-pinterest-p"></span></a>
                        <a href="#" class="instagram"><span class="fa fa-instagram"></span></a>
                    </div>
                </div>
                
            </div>
        </div><!-- Header Top End -->
        
        <!-- Header Lower -->
        <div class="header-lower">
        	<div class="auto-container clearfix">
            	
                <!--Outer Box-->
                <div class="outer-box">
                
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html"><img src="images/logo-1.png" alt="Radium"></a>
                     </div>
                     
                     <!--Search Box-->
                    <div class="search-box">
                    	<form method="post" action="index.html">
                        	<div class="form-group">
                            	<input type="search" name="search-field" value="" placeholder="Search">
                                <button type="submit"><span class="icon flaticon-right11"></span></button>
                            </div>
                        </form>
                    </div>
                    
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation">
                                <li class="dropdown"><a href="index.html">Home</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="index.html">Homepage One</a></li>
                                        <li><a href="index-2.html">Homepage Two</a></li>
                                        <li><a href="index-3.html">Homepage Three</a></li>
                                        <li><a href="index-4.html">Homepage Four</a></li>
                                    </ul>
                                </li>
                                <li class="current dropdown"><a href="about-1.html">About</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="about-1.html">About One</a></li>
                                        <li><a href="about-2.html">About Two</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="services-1.html">Services</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="services-1.html">Services One</a></li>
                                        <li><a href="services-2.html">Services Two</a></li>
                                        <li class="dropdown"><a href="pricing.html">Other Pages</a>
                                        	<ul class="submenu-dropdown">
                                                <li><a href="pricing.html">Pricing</a></li>
                                                <li><a href="gallery-fullwidth.html">Gallery Fullwidth</a></li>
                                                <li><a href="gallery-three-column.html">Gallery Grid View</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="gallery-fullwidth.html">Portfolio</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="gallery-fullwidth.html">Gallery Fullwidth</a></li>
                                        <li><a href="gallery-three-column.html">Gallery 3 Column</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="blog.html">Blog</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-three-column.html">Blog 3 Column</a></li>
                                        <li><a href="blog-two-column.html">Blog 2 Column</a></li>
                                        <li><a href="blog-detail.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                    
                </div>
            </div>
        </div><!-- Header Lower End-->
        
    </header><!--End Main Header -->
    
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/page-title-1.jpg);">
    	<div class="auto-container">
        	<div class="sec-title">
                <h1>about us</h1>
                <div class="page-subtitle">sed diam nonumy eirmod tempor invidunt ut labore</div>
            </div>
        </div>
        <!--Down Arrow-->
        <div class="down-arrow scroll-to-target" data-target=".scroll-to-this"></div>
    </section>
    
    
    <!--Default Section-->
    <section class="default-section scroll-to-this">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Column-->
                <div class="column text-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box">
                        
                        <div class="sec-title">
                            <h2 class="bigger-title">we are radium marketing agency</h2>
                            <h2 class="bigger-title">we work for <span class="color_blue">your succcess</span></h2>
                        </div>
                        
                        <div class="text">
                        	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, aliquyam erat, sed diam voluptuased diam nonumy eirmod tempor invidunt ut labore et dolore magna .</p>
                        </div>
                        <br>
                        <div class="signature"><img src="images/resource/signature.png" alt=""></div>
                        
                    </div>
                </div>
                
                <!--Column / Image Column-->
                <div class="column image-column col-md-6 col-sm-12 col-xs-12">
                	<figure class="image"><img class="img-responsive" src="images/resource/featured-image-4.jpg" alt=""></figure>
                </div>
                
                
            </div>
        </div>
    </section>
    
    <!--Video Section-->
    <div class="video-section" style="background-image:url(images/background/video-bg.jpg);">
    	<a class="lightbox-image play-anchor" href="http://www.youtube.com/watch?v=opj24KnzrWo"><div class="play-icon img-circle"><span class="flaticon-right246"></span></div><span class="play-text">Play Video</span></a>
    </div>
    
    
    <!--Team Section-->
    <section class="team-section text-center">
    	<div class="auto-container">
        
        	<div class="sec-title main-title">
                <h2 class="default-title text-uppercase">Meet Our Team</h2>
                <div class="theme-subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</div>
            </div>
                        
        	<div class="row clearfix">
            	
                <!--Team Member-->
                <article class="team-member col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="images/resource/team-1.jpg" alt="">
                            <div class="hover-info">
                            	<!--Plus Icon-->
                            	<a href="#" class="icon-plus"><span class="flaticon-plus3"></span></a>
                                
                                <div class="text">We have the expertise to create just the right web presence for you.</div>
                                <div class="social-links">
                        			<a href="#"><span class="fa fa-facebook-f"></span></a>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                    <a href="#"><span class="fa fa-instagram"></span></a>            
                                </div>
                            </div>
                        </figure>
                        
                        <div class="member-info">
                        	<h3>Nashid Martines</h3>
                            <h4>Creative Director</h4>
                        </div>
                        
                    </div>
                </article>
                
                <!--Team Member-->
                <article class="team-member col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="images/resource/team-2.jpg" alt="">
                            <div class="hover-info">
                            	<!--Plus Icon-->
                            	<a href="#" class="icon-plus"><span class="flaticon-plus3"></span></a>
                                
                                <div class="text">We have the expertise to create just the right web presence for you.</div>
                                <div class="social-links">
                        			<a href="#"><span class="fa fa-facebook-f"></span></a>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                    <a href="#"><span class="fa fa-instagram"></span></a>            
                                </div>
                            </div>
                        </figure>
                        
                        <div class="member-info">
                        	<h3>Jackson Willingham</h3>
                            <h4>Front-end Developer</h4>
                        </div>
                        
                    </div>
                </article>
                
                <!--Team Member-->
                <article class="team-member col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="images/resource/team-3.jpg" alt="">
                            <div class="hover-info">
                            	<!--Plus Icon-->
                            	<a href="#" class="icon-plus"><span class="flaticon-plus3"></span></a>
                                
                                <div class="text">We have the expertise to create just the right web presence for you.</div>
                                <div class="social-links">
                        			<a href="#"><span class="fa fa-facebook-f"></span></a>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                    <a href="#"><span class="fa fa-instagram"></span></a>            
                                </div>
                            </div>
                        </figure>
                        
                        <div class="member-info">
                        	<h3>Yvonne Backfield</h3>
                            <h4>Marketing Manager</h4>
                        </div>
                        
                    </div>
                </article>
                
                
            </div>
        </div>
    </section>
    
    
    
    <!-- Client Testimonials -->
    <section class="client-testimonials style-one">
    	<div class="auto-container">
        	<!--Section Title-->
            <div class="sec-title main-title text-center">
                <h2 class="default-title white_color">CLIENT TESTIMONIALS</h2>
                <div class="line-centered"></div>
            </div>
            
        	<div class="testimonial-slider-full">
            	<article class="slide">
                    <div class="text">“Our teams are up to date with the latest technologies, media trends and are keen to prove themselves in this industry and that’s what you want from an advertising agency, not someone who is relying on the same way of doing things that worked 10 years, 5 years or even a year ago.”</div>
                    <div class="author-info">Jonathan Doe <div class="time">2 days ago</div></div>
                </article>
                <article class="slide">
                    <div class="text">"Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat et accusam et justo duo dolores et ea rebum."</div>
                    <div class="author-info">Hamzah Ali <div class="time">2 days ago</div></div>
                </article>
                <article class="slide">
                    <div class="text">"Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren "</div>
                    <div class="author-info">Aamir Denna <div class="time">2 days ago</div></div>
                </article>
            </div>
            
        </div>
    </section>
    
    
    <!--Main Footer-->
    <footer class="main-footer">
    	
        <!--Footer Upper-->        
        <div class="footer-upper">
            <div class="auto-container">
                <div class="row clearfix">
                
                	<div class="col-lg-4 col-sm-6 col-xs-12 column">
                        <div class="footer-widget about-widget">
                            <h2>About Us</h2>
                            <div class="text">
                            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.</p>
                            </div>
                            
                            <div class="social-links">
                                <a href="#"><span class="fa fa-facebook-f"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-dribbble"></span></a>
                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                <a href="#"><span class="fa fa-pinterest"></span></a>
                                <a href="#"><span class="fa fa-instagram"></span></a>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="col-lg-4 col-sm-6 col-xs-12 column">
                    	<h2>Quick Links</h2>
                    	<div class="row clearfix">
                        	
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <ul>
                                        <li><a href="#">Our Company</a></li>
                                        <li><a href="#">Our Philosophy</a></li>
                                        <li><a href="#">Monthly Statistics</a></li>
                                        <li><a href="#">Marketing Strategies</a></li>
                                        <li><a href="#">Our Services</a></li>
                                    </ul>
        
                                </div>
                            </div>
                            
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <ul>
                                        <li><a href="#">Support Forums</a></li>
                                        <li><a href="#">FAQ &amp; Help Center</a></li>
                                        <li><a href="#">Register an account</a></li>
                                        <li><a href="#">Login with account</a></li>
                                        <li><a href="#">Careers</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="col-lg-4 col-sm-12 col-xs-12 column">
                        <div class="footer-widget newsletter-widget">
                            <h2>Subscribe Newsletter</h2>	
                            <form method="post" action="contact.html">
                            	<div class="form-group">
                                	<input type="text" name="username" value="" placeholder="Enter Name" required>
                                </div>
                                <div class="form-group">
                                	<input type="text" name="useremail" value="" placeholder="Enter Email" required>
                                </div>
                                <div class="form-group">
                                	<button type="submit" class="theme-btn radial-btn bg_orange"><span class="txt">Subscribe Now</span> <span class="img-circle fa fa-arrow-right"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    
                </div>
                
                <!--Contact Info-->
                <div class="contact-info">
                	<ul>
                    	<li><span class="bullet">&bull;</span> 78 Fashion Street, Beverly Hill</li>
                        <li><span class="bullet">&bull;</span> Abony, NYC 12041</li>
                        <li><span class="bullet">&bull;</span> Phone: (800) 0123 4567 890</li>
                        <li><span class="bullet">&bull;</span> E-mail:  radium@envato.com</li>
                                                                             
                    </ul>
                </div>
                
            </div>
        </div>
        
        <!--Footer Bottom-->
    	<div class="footer-bottom">
            <div class="auto-container clearfix">
            	<div class="logo pull-left"><a href="#"><img src="images/logo-2.jpg" alt=""></a></div>
                <!--Copyright-->
                <div class="copyright pull-right">Copyright 2015 &copy; <strong>Radium - Marketing &amp; SEO PSD Template</strong> | All Rights Reservedd</div>
            </div>
        </div>
        
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-arrow-up"></span></div>

<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/bxslider.js"></script>
<script src="js/owl.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>
