<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Radium HTML5 Agency Template | Homepage Style Three</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/revolution-slider.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header -->
    <header class="main-header">
    	<!-- Header Top -->
    	<div class="header-top">
        	<div class="auto-container clearfix">
            	<!-- Top Left -->
            	<div class="top-left">
                	<ul class="clearfix">
                    	<li><a href="#">Welcome to Radium - SEO &amp; Marketing Template</a></li>
                        <li><a href="#"><span class="icon flaticon-phone325"></span> Call us +49 1234 5678 9</a></li>
                    </ul>
                </div>
                
                <!-- Top Right -->
                <div class="top-right">
                	<!--Social Links Style One-->
                	<div class="social-links-one clearfix">
                    	<a href="#" class="facebook"><span class="fa fa-facebook-f"></span></a>
                        <a href="#" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#" class="google-plus"><span class="fa fa-google-plus"></span></a>
                        <a href="#" class="linkedin"><span class="fa fa-linkedin"></span></a>
                        <a href="#" class="pinterest"><span class="fa fa-pinterest-p"></span></a>
                        <a href="#" class="instagram"><span class="fa fa-instagram"></span></a>
                    </div>
                </div>
                
            </div>
        </div><!-- Header Top End -->
        
        <!-- Header Lower -->
        <div class="header-lower">
        	<div class="auto-container clearfix">
            	
                <!--Outer Box-->
                <div class="outer-box">
                
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html"><img src="images/logo-1.png" alt="Radium"></a>
                     </div>
                     
                     <!--Search Box-->
                    <div class="search-box">
                    	<form method="post" action="index.html">
                        	<div class="form-group">
                            	<input type="search" name="search-field" value="" placeholder="Search">
                                <button type="submit"><span class="icon flaticon-right11"></span></button>
                            </div>
                        </form>
                    </div>
                    
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation">
                                <li class="current dropdown"><a href="index.html">Home</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="index.html">Homepage One</a></li>
                                        <li><a href="index-2.html">Homepage Two</a></li>
                                        <li><a href="index-3.html">Homepage Three</a></li>
                                        <li><a href="index-4.html">Homepage Four</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="about-1.html">About</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="about-1.html">About One</a></li>
                                        <li><a href="about-2.html">About Two</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="services-1.html">Services</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="services-1.html">Services One</a></li>
                                        <li><a href="services-2.html">Services Two</a></li>
                                        <li class="dropdown"><a href="pricing.html">Other Pages</a>
                                        	<ul class="submenu-dropdown">
                                                <li><a href="pricing.html">Pricing</a></li>
                                                <li><a href="gallery-fullwidth.html">Gallery Fullwidth</a></li>
                                                <li><a href="gallery-three-column.html">Gallery Grid View</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="gallery-fullwidth.html">Portfolio</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="gallery-fullwidth.html">Gallery Fullwidth</a></li>
                                        <li><a href="gallery-three-column.html">Gallery 3 Column</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="blog.html">Blog</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-three-column.html">Blog 3 Column</a></li>
                                        <li><a href="blog-two-column.html">Blog 2 Column</a></li>
                                        <li><a href="blog-detail.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                    
                </div>
            </div>
        </div><!-- Header Lower End-->
        
    </header><!--End Main Header -->
    
    
    <!--Main Slider-->
    <section class="main-slider">
    	
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                	
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/1.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="images/main-slider/1.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                    
                    <div class="tp-caption lft tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-100"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h1 class="bold-heading">we are radium agency</h1></div>
                    
                    <div class="tp-caption lft tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-40"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="roman-text theme_color">SEO &amp; MARKETING</div></div>
                    
                    
                    <div class="tp-caption lfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="20"
                    data-speed="1500"
                    data-start="1500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h2 class="trans-heading">we care for your business</h2></div>
                    
                    
                    <div class="tp-caption lfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="100"
                    data-speed="1500"
                    data-start="2000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><a class="theme-btn radial-btn" href="#"><span class="txt">Register Now</span> <span class="img-circle fa fa-arrow-right"></span></a></div>
                    
                    
                    </li>
                    
                    <li data-transition="slidedown" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/2.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="images/main-slider/2.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                    
                    <div class="tp-caption lft tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-100"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h1 class="bold-heading">CHANGE THE COLOUR OF YOU LIFE</h1></div>
                    
                    <div class="tp-caption lft tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-40"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="roman-text orange_color">SIMPLICITY</div></div>
                    
                    
                    <div class="tp-caption lfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="20"
                    data-speed="1500"
                    data-start="1500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h2 class="trans-heading">WORKING WITH PASSION</h2></div>
                    
                    
                    <div class="tp-caption lfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="100"
                    data-speed="1500"
                    data-start="2000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><a class="theme-btn radial-btn" href="#"><span class="txt">Get Started Now</span> <span class="img-circle fa fa-arrow-right"></span></a></div>
                    
                    
                    </li>
                    
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/3.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="images/main-slider/3.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                    
                    <div class="tp-caption lft tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-100"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h1 class="bold-heading">marketing for everyone</h1></div>
                    
                    <div class="tp-caption lft tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-40"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="roman-text text-uppercase orange_color">internet business</div></div>
                    
                    
                    <div class="tp-caption lfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="20"
                    data-speed="1500"
                    data-start="1500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h2 class="trans-heading">we offer high quality</h2></div>
                    
                    
                    <div class="tp-caption lfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="100"
                    data-speed="1500"
                    data-start="2000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><a class="theme-btn radial-btn" href="#"><span class="txt">Register Now</span> <span class="img-circle fa fa-arrow-right"></span></a></div>
                    
                    
                    </li>
                    
                    <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/4.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="images/main-slider/4.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                    
                    <div class="tp-caption lft tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-100"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h1 class="bold-heading">we offer several packages</h1></div>
                    
                    <div class="tp-caption lft tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-40"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="roman-text text-uppercase">it´s for everyone</div></div>
                    
                    
                    <div class="tp-caption lfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="20"
                    data-speed="1500"
                    data-start="1500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h2 class="trans-heading">your success is our aim</h2></div>
                    
                    
                    <div class="tp-caption lfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="100"
                    data-speed="1500"
                    data-start="2000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><a class="theme-btn radial-btn" href="#"><span class="txt">Get Started Now</span> <span class="img-circle fa fa-arrow-right"></span></a></div>
                    
                    
                    </li>
                    
                    
                </ul>
                
            	<div class="tp-bannertimer"></div>
            </div>
        </div>
    </section>
    
    
    
    <!--Default Section-->
    <section class="default-section purple-theme">
    	<div class="auto-container">
            
        	<div class="row clearfix">
            	
                <!--Column-->
                <article class="column icon-column circle-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-left">
                    	<div class="icon img-circle"><span class="flaticon-like80"></span></div>
                        <h3>MARKETING STRATEGIES</h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. </div>
                    </div>
                </article>
                
                <!--Column-->
                <article class="column icon-column circle-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-left">
                    	<div class="icon img-circle"><span class="flaticon-equalizer38"></span></div>
                        <h3>IMPROVING STATISTICS </h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. </div>
                    </div>
                </article>
                
                <!--Column-->
                <article class="column icon-column circle-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-left">
                    	<div class="icon img-circle"><span class="flaticon-tool305"></span></div>
                        <h3>MULTIPLE OPTIONS</h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. </div>
                    </div>
                </article>
                
            </div>
        </div>
    </section>
    
    
    <!--Default Section-->
    <section class="default-section full-slider-section no-padd-bottom no-padd-top">
        
        <div class="auto-container">
        	
            <div class="sec-title main-title text-center">
                <h2 class="default-title text-uppercase">Features Overview</h2>
                <div class="theme-subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</div>
            </div>
            
            <!--Single Image Carousel-->
            <div class="column-carousel one-column upper-controls">
                
                <!--Item-->
                <div class="slide-item">
                    <figure class="image"><a class="lightbox-image" href="images/resource/full-image-2.jpg" title="Awsome Title Here"><img src="images/resource/full-image-2.jpg" alt=""></a></figure>
                </div>
                
                <!--Item-->
                <div class="slide-item">
                    <figure class="image"><a class="lightbox-image" href="images/resource/full-image-2.jpg" title="Awsome Title Here"><img src="images/resource/full-image-2.jpg" alt=""></a></figure>
                </div>
                
                <!--Item-->
                <div class="slide-item">
                    <figure class="image"><a class="lightbox-image" href="images/resource/full-image-2.jpg" title="Awsome Title Here"><img src="images/resource/full-image-2.jpg" alt=""></a></figure>
                </div>
                
            </div>
            
        </div>
    </section>
    
    
    <!--Default Section / Services Section-->
    <section class="default-section services-section bg-parallax" style="background-image:url(images/parallax/image-2.jpg);">
    	<div class="auto-container">
            
        	<div class="row clearfix">
            	
                <!--Column-->
                <article class="column icon-column default-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-left">
                    	<div class="icon img-circle"><span class="flaticon-bars65"></span></div>
                        <h3 class="text-uppercase">MARKETING STRATEGIES</h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </article>
                
                <!--Column-->
                <article class="column icon-column default-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-left">
                    	<div class="icon img-circle"><span class="flaticon-science30"></span></div>
                        <h3 class="text-uppercase">seo research </h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </article>
                
                <!--Column-->
                <article class="column icon-column default-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-left">
                    	<div class="icon img-circle"><span class="flaticon-check64"></span></div>
                        <h3 class="text-uppercase">keyword analysis</h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </article>
                
                <!--Column-->
                <article class="column icon-column default-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-left">
                    	<div class="icon img-circle"><span class="flaticon-computer21"></span></div>
                        <h3 class="text-uppercase">dashboard statistics</h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </article>
                
                <!--Column-->
                <article class="column icon-column default-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-left">
                    	<div class="icon img-circle"><span class="flaticon-rocketship4"></span></div>
                        <h3 class="text-uppercase">traffic booster </h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </article>
                
                <!--Column-->
                <article class="column icon-column default-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-left">
                    	<div class="icon img-circle"><span class="flaticon-configuration28"></span></div>
                        <h3 class="text-uppercase">Creative Options</h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </article>
                
            </div>
        </div>
    </section>
    
    
    
    <!--Normal Section-->
    <section class="normal-section half-section">
    	<div class="auto-container">
            
            <div class="row clearfix">
            	<!--Column-->
            	<div class="column col-lg-6 col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	<div class="sec-title">
                    		<h2 class="default-title text-uppercase">WHAT WE DO</h2>
                			<div class="theme-subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</div>
                    	</div>
                        
                        <div class="text">
                        	<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit.</p>
                        </div>
                        <br>
                        
                        <div class="row clearfix">
                            <!--Column-->
                            <div class="col-lg-6 col-md-6 col-xs-12 column">
                                <ul class="styled-list-one">
                                	<li>SEO / keyword research</li>
                                    <li>Front- end developement</li>
                                    <li>Graphic design</li>
                                    <li>Wordpress customization</li>
                                </ul>
                            </div>
                            
                            <!--Column-->
                            <div class="col-lg-6 col-md-6 col-xs-12 column">
                                <ul class="styled-list-one">
                                	<li>Website Analysis</li>
                                    <li>Dashboard Monitoring</li>
                                    <li>Data Storage</li>
                                    <li>Internet Marketing</li>
                                </ul>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                
                <!--Column-->
            	<div class="column col-lg-6 col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	
                        
                        <!--Progress Levels-->
                        <div class="progress-levels">
                        	
                            <h2 class="default-title text-uppercase">Our skills</h2>
                            <br>
                                	
                            <!--Skill Box-->
                            <div class="progress-box wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
                                <div class="box-title">social marketng</div>
                                <div class="inner">
                                    <div class="bar">
                                        <div class="bar-innner"><div class="bar-fill" data-percent="80"><div class="percent"></div></div></div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                            <!--Skill Box-->
                            <div class="progress-box wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <div class="box-title">seo &amp; KEYWORD RESEARCH</div>
                                <div class="inner">
                                    <div class="bar">
                                        <div class="bar-innner"><div class="bar-fill" data-percent="90"><div class="percent"></div></div></div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                            <!--Skill Box-->
                            <div class="progress-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="box-title">WEB DEVELOPEMENT</div>
                                <div class="inner">
                                    <div class="bar">
                                        <div class="bar-innner"><div class="bar-fill" data-percent="60"><div class="percent"></div></div></div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                            <!--Skill Box-->
                            <div class="progress-box wow fadeInRight" data-wow-delay="400ms" data-wow-duration="1500ms">
                                <div class="box-title">WORDPRESS CUSTOMIZATION</div>
                                <div class="inner">
                                    <div class="bar">
                                        <div class="bar-innner"><div class="bar-fill" data-percent="88"><div class="percent"></div></div></div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
    
    
    <!--Section Intro-->
    <section class="section-intro" style="background-image:url(images/parallax/image-1.jpg);">
    	<div class="auto-container">
        	<div class="sec-title">
                <h2 class="default-title text-uppercase white_color">our plans &amp; PRICINGS</h2>
                <div class="theme-subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</div>
            </div>
        </div>
        <!--Down Arrow-->
        <div class="down-arrow scroll-to-target" data-target=".scroll-to-this"></div>
    </section>
    
    
    <!--Pricing Section-->
    <section class="pricing-section scroll-to-this">
    	<div class="auto-container">
                        
        	<div class="row clearfix">
            	
                <!--Pricing Column-->
                <article class="pricing-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="plan-header">
                        	<h3 class="plan-title">BASIC</h3>
                            <h2 class="plan-price">$49</h2>
                            <div class="plan-duration">Per Month</div>
                        </div>
                        <ul class="plan-stats">
                        	<li><span class="icon fa fa-check"></span> Unlimited traffic</li>
                            <li><span class="icon fa fa-check"></span> 2 GB Disk space</li>
                            <li><span class="icon fa fa-check"></span> 100 GB Monthly bandwidth</li>
                            <li><span class="icon fa fa-check"></span> Free security service</li>
                            <li><span class="icon fa fa-check"></span> 2 Dashboard accounts</li>
                        </ul>
                        
                        <a href="#" class="theme-btn rounded-btn">Signup Now</a>
                    </div>
                </article>
                
                
                <!--Pricing Column-->
                <article class="pricing-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="plan-header">
                        	<h3 class="plan-title">Premium</h3>
                            <h2 class="plan-price">$69</h2>
                            <div class="plan-duration">Per Month</div>
                        </div>
                        <ul class="plan-stats">
                        	<li><span class="icon fa fa-check"></span> Unlimited traffic</li>
                            <li><span class="icon fa fa-check"></span> 4 GB Disk space</li>
                            <li><span class="icon fa fa-check"></span> 200 GB Monthly bandwidth</li>
                            <li><span class="icon fa fa-check"></span> Free security service</li>
                            <li><span class="icon fa fa-check"></span> 2 Dashboard accounts</li>
                        </ul>
                        
                        <a href="#" class="theme-btn rounded-btn">Signup Now</a>
                    </div>
                </article>
                
                
                <!--Pricing Column-->
                <article class="pricing-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="plan-header">
                        	<h3 class="plan-title">Developer</h3>
                            <h2 class="plan-price">$89</h2>
                            <div class="plan-duration">Per Month</div>
                        </div>
                        <ul class="plan-stats">
                        	<li><span class="icon fa fa-check"></span> Unlimited traffic</li>
                            <li><span class="icon fa fa-check"></span> 6 GB Disk space</li>
                            <li><span class="icon fa fa-check"></span> 500 GB Monthly bandwidth</li>
                            <li><span class="icon fa fa-check"></span> Free security service</li>
                            <li><span class="icon fa fa-check"></span> 6 Dashboard accounts</li>
                        </ul>
                        
                        <a href="#" class="theme-btn rounded-btn">Signup Now</a>
                    </div>
                </article>
                
                
                <!--Pricing Column-->
                <article class="pricing-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="plan-header">
                        	<h3 class="plan-title">Business</h3>
                            <h2 class="plan-price">$129</h2>
                            <div class="plan-duration">Per Month</div>
                        </div>
                        <ul class="plan-stats">
                        	<li><span class="icon fa fa-check"></span> Unlimited traffic</li>
                            <li><span class="icon fa fa-check"></span> 8 GB Disk space</li>
                            <li><span class="icon fa fa-check"></span> 1000 GB Monthly bandwidth</li>
                            <li><span class="icon fa fa-check"></span> Free security service</li>
                            <li><span class="icon fa fa-check"></span> 8 Dashboard accounts</li>
                        </ul>
                        
                        <a href="#" class="theme-btn rounded-btn">Signup Now</a>
                    </div>
                </article>
                
                
            </div>
        </div>
    </section>
    
    
    
    <!--Default Section-->
    <section class="default-section full-slider-section no-padd-bottom">
        
        <div class="auto-container">
        	<div class="sec-title text-center main-title">
                <h2 class="default-title text-uppercase">our photo gallery</h2>
                <div class="theme-subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</div>
            </div>
        </div>
        
        <div class="column-carousel full-width four-column">
            
            <!--Item-->
            <div class="slide-item portfolio-item">
                <div class="inner-box">
                    <figure class="image"><a href="images/gallery/image-1.jpg" class="lightbox-image" title="Awsome Title Here"><img src="images/gallery/image-1.jpg" alt=""></a></figure>
                    <div class="overlay-box">
                    	<a href="images/gallery/image-1.jpg" class="zoom-btn lightbox-image" title="Awsome Title Here"><span class="icon flaticon-camera33"></span></a>
                        <div class="content">
                            <h3><a href="#">Team in meeting room</a></h3>
                            <div class="tags"><a href="#">Marketing</a>, <a href="#">SEO</a></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Image Box-->
            <div class="item-box portfolio-item">
                <div class="inner-box">
                    <figure class="image"><a href="images/gallery/image-2.jpg" class="lightbox-image" title="Awsome Title Here"><img src="images/gallery/image-2.jpg" alt=""></a></figure>
                    <div class="overlay-box">
                    	<a href="images/gallery/image-2.jpg" class="zoom-btn lightbox-image" title="Awsome Title Here"><span class="icon flaticon-camera33"></span></a>
                        <div class="content">
                            <h3><a href="#">Team in meeting room</a></h3>
                            <div class="tags"><a href="#">Marketing</a>, <a href="#">SEO</a></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Item-->
            <div class="slide-item portfolio-item">
                <div class="inner-box">
                    <figure class="image"><a href="images/gallery/image-3.jpg" class="lightbox-image" title="Awsome Title Here"><img src="images/gallery/image-3.jpg" alt=""></a></figure>
                    <div class="overlay-box">
                    	<a href="images/gallery/image-3.jpg" class="zoom-btn lightbox-image" title="Awsome Title Here"><span class="icon flaticon-camera33"></span></a>
                        <div class="content">
                            <h3><a href="#">Team in meeting room</a></h3>
                            <div class="tags"><a href="#">Marketing</a>, <a href="#">SEO</a></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Item-->
            <div class="slide-item portfolio-item">
                <div class="inner-box">
                    <figure class="image"><a href="images/gallery/image-4.jpg" class="lightbox-image" title="Awsome Title Here"><img src="images/gallery/image-4.jpg" alt=""></a></figure>
                    <div class="overlay-box">
                    	<a href="images/gallery/image-4.jpg" class="zoom-btn lightbox-image" title="Awsome Title Here"><span class="icon flaticon-camera33"></span></a>
                        <div class="content">
                            <h3><a href="#">Team in meeting room</a></h3>
                            <div class="tags"><a href="#">Marketing</a>, <a href="#">SEO</a></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
    
    
    <!--Featured Three Column-->
    <section class="default-section featured-three-col">
    	<div class="auto-container">
        	
            <!--Section Title-->
            <div class="sec-title main-title text-center">
                <h2 class="default-title text-uppercase">Latest News</h2>
                <div class="theme-subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</div>
            </div>
            
        	<div class="row clearfix">
            	
                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                	<article class="inner-box">
                    	<figure class="image-box"><a href="#"><img src="images/resource/featured-image-1.jpg" alt="" title=""></a></figure>
                        <div class="content">
                        	<div class="author-thumb"><img src="images/resource/auth-thumb-1.jpg" alt=""></div>
                            <ul class="post-info clearfix">
                                <li><span class="icon flaticon-calendars12"></span> <a href="#">14 Jan, 2015</a></li>
                                <li><span class="icon flaticon-tags23"></span><a href="#">markerting</a> , <a href="#">SEO</a></li>
                            </ul>
                        	<h3><a href="#">Stet clita ea et gubergren, kasd magna no rebum</a></h3>
                            <div class="text"><p>We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</p></div>
                        </div>
                    </article>
                </div>
                
                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                	<article class="inner-box">
                    	<figure class="image-box"><a href="#"><img src="images/resource/featured-image-2.jpg" alt="" title=""></a></figure>
                        <div class="content">
                        	<div class="author-thumb"><img src="images/resource/auth-thumb-2.jpg" alt=""></div>
                            <ul class="post-info clearfix">
                                <li><span class="icon flaticon-calendars12"></span> <a href="#">14 Jan, 2015</a></li>
                                <li><span class="icon flaticon-tags23"></span><a href="#">markerting</a> , <a href="#">SEO</a></li>
                            </ul>
                        	<h3><a href="#">Consetetur sadipscing elitr, sed diam nonumy</a></h3>
                            <div class="text"><p>We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</p></div>
                        </div>
                    </article>
                </div>
                
                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                	<article class="inner-box">
                    	<figure class="image-box"><a href="#"><img src="images/resource/featured-image-3.jpg" alt="" title=""></a></figure>
                        <div class="content">
                        	<div class="author-thumb"><img src="images/resource/auth-thumb-3.jpg" alt=""></div>
                            <ul class="post-info clearfix">
                                <li><span class="icon flaticon-calendars12"></span> <a href="#">14 Jan, 2015</a></li>
                                <li><span class="icon flaticon-tags23"></span><a href="#">markerting</a> , <a href="#">SEO</a></li>
                            </ul>
                        	<h3><a href="#">Invidunt ut labore et dolore magna aliquyam </a></h3>
                            <div class="text"><p>We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</p></div>
                        </div>
                    </article>
                </div>
                
            </div>
        </div>
    </section>
    
    
    <!-- Client Testimonials -->
    <section class="client-testimonials style-one">
    	<div class="auto-container">
        	<!--Section Title-->
            <div class="sec-title main-title text-center">
                <h2 class="default-title white_color">CLIENT TESTIMONIALS</h2>
                <div class="line-centered"></div>
            </div>
            
        	<div class="testimonial-slider-full">
            	<article class="slide">
                    <div class="text">“Our teams are up to date with the latest technologies, media trends and are keen to prove themselves in this industry and that’s what you want from an advertising agency, not someone who is relying on the same way of doing things that worked 10 years, 5 years or even a year ago.”</div>
                    <div class="author-info">Jonathan Doe <div class="time">2 days ago</div></div>
                </article>
                <article class="slide">
                    <div class="text">"Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat et accusam et justo duo dolores et ea rebum."</div>
                    <div class="author-info">Hamzah Ali <div class="time">2 days ago</div></div>
                </article>
                <article class="slide">
                    <div class="text">"Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren "</div>
                    <div class="author-info">Aamir Denna <div class="time">2 days ago</div></div>
                </article>
            </div>
            
        </div>
    </section>
    
    
    <!-- Client Logos -->
    <section class="logos-section" style="background-image:url(images/background/logos-bg.jpg);">
    	<div class="auto-container">
            
        	<div class="text-center">
            	<a href="#" class="image-box"><img src="images/clients/logo-1.png" alt=""></a>
                <a href="#" class="image-box"><img src="images/clients/logo-2.png" alt=""></a>
                <a href="#" class="image-box"><img src="images/clients/logo-3.png" alt=""></a>
                <a href="#" class="image-box"><img src="images/clients/logo-4.png" alt=""></a>
                <a href="#" class="image-box"><img src="images/clients/logo-5.png" alt=""></a>
            </div>
            
        </div>
    </section>
    
    
    
    <!--Main Footer-->
    <footer class="main-footer">
    	
        <!--Footer Upper-->        
        <div class="footer-upper">
            <div class="auto-container">
                <div class="row clearfix">
                
                	<div class="col-lg-4 col-sm-6 col-xs-12 column">
                        <div class="footer-widget about-widget">
                            <h2>About Us</h2>
                            <div class="text">
                            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.</p>
                            </div>
                            
                            <div class="social-links">
                                <a href="#"><span class="fa fa-facebook-f"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-dribbble"></span></a>
                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                <a href="#"><span class="fa fa-pinterest"></span></a>
                                <a href="#"><span class="fa fa-instagram"></span></a>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="col-lg-4 col-sm-6 col-xs-12 column">
                    	<h2>Quick Links</h2>
                    	<div class="row clearfix">
                        	
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <ul>
                                        <li><a href="#">Our Company</a></li>
                                        <li><a href="#">Our Philosophy</a></li>
                                        <li><a href="#">Monthly Statistics</a></li>
                                        <li><a href="#">Marketing Strategies</a></li>
                                        <li><a href="#">Our Services</a></li>
                                    </ul>
        
                                </div>
                            </div>
                            
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <ul>
                                        <li><a href="#">Support Forums</a></li>
                                        <li><a href="#">FAQ &amp; Help Center</a></li>
                                        <li><a href="#">Register an account</a></li>
                                        <li><a href="#">Login with account</a></li>
                                        <li><a href="#">Careers</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="col-lg-4 col-sm-12 col-xs-12 column">
                        <div class="footer-widget newsletter-widget">
                            <h2>Subscribe Newsletter</h2>	
                            <form method="post" action="contact.html">
                            	<div class="form-group">
                                	<input type="text" name="username" value="" placeholder="Enter Name" required>
                                </div>
                                <div class="form-group">
                                	<input type="text" name="useremail" value="" placeholder="Enter Email" required>
                                </div>
                                <div class="form-group">
                                	<button type="submit" class="theme-btn radial-btn bg_orange"><span class="txt">Subscribe Now</span> <span class="img-circle fa fa-arrow-right"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    
                </div>
                
                <!--Contact Info-->
                <div class="contact-info">
                	<ul>
                    	<li><span class="bullet">&bull;</span> 78 Fashion Street, Beverly Hill</li>
                        <li><span class="bullet">&bull;</span> Abony, NYC 12041</li>
                        <li><span class="bullet">&bull;</span> Phone: (800) 0123 4567 890</li>
                        <li><span class="bullet">&bull;</span> E-mail:  radium@envato.com</li>
                                                                             
                    </ul>
                </div>
                
            </div>
        </div>
        
        <!--Footer Bottom-->
    	<div class="footer-bottom">
            <div class="auto-container clearfix">
            	<div class="logo pull-left"><a href="#"><img src="images/logo-2.jpg" alt=""></a></div>
                <!--Copyright-->
                <div class="copyright pull-right">Copyright 2015 &copy; <strong>Radium - Marketing &amp; SEO PSD Template</strong> | All Rights Reservedd</div>
            </div>
        </div>
        
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-arrow-up"></span></div>

<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/bxslider.js"></script>
<script src="js/owl.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>
