<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Radium HTML5 Agency Template | Services Style Two</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header -->
    <header class="main-header">
    	<!-- Header Top -->
    	<div class="header-top">
        	<div class="auto-container clearfix">
            	<!-- Top Left -->
            	<div class="top-left">
                	<ul class="clearfix">
                    	<li><a href="#">Welcome to Radium - SEO &amp; Marketing Template</a></li>
                        <li><a href="#"><span class="icon flaticon-phone325"></span> Call us +49 1234 5678 9</a></li>
                    </ul>
                </div>
                
                <!-- Top Right -->
                <div class="top-right">
                	<!--Social Links Style One-->
                	<div class="social-links-one clearfix">
                    	<a href="#" class="facebook"><span class="fa fa-facebook-f"></span></a>
                        <a href="#" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#" class="google-plus"><span class="fa fa-google-plus"></span></a>
                        <a href="#" class="linkedin"><span class="fa fa-linkedin"></span></a>
                        <a href="#" class="pinterest"><span class="fa fa-pinterest-p"></span></a>
                        <a href="#" class="instagram"><span class="fa fa-instagram"></span></a>
                    </div>
                </div>
                
            </div>
        </div><!-- Header Top End -->
        
        <!-- Header Lower -->
        <div class="header-lower">
        	<div class="auto-container clearfix">
            	
                <!--Outer Box-->
                <div class="outer-box">
                
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html"><img src="images/logo-1.png" alt="Radium"></a>
                     </div>
                     
                     <!--Search Box-->
                    <div class="search-box">
                    	<form method="post" action="index.html">
                        	<div class="form-group">
                            	<input type="search" name="search-field" value="" placeholder="Search">
                                <button type="submit"><span class="icon flaticon-right11"></span></button>
                            </div>
                        </form>
                    </div>
                    
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation">
                                <li class="dropdown"><a href="index.html">Home</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="index.html">Homepage One</a></li>
                                        <li><a href="index-2.html">Homepage Two</a></li>
                                        <li><a href="index-3.html">Homepage Three</a></li>
                                        <li><a href="index-4.html">Homepage Four</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="about-1.html">About</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="about-1.html">About One</a></li>
                                        <li><a href="about-2.html">About Two</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                    </ul>
                                </li>
                                <li class="current dropdown"><a href="services-1.html">Services</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="services-1.html">Services One</a></li>
                                        <li><a href="services-2.html">Services Two</a></li>
                                        <li class="dropdown"><a href="pricing.html">Other Pages</a>
                                        	<ul class="submenu-dropdown">
                                                <li><a href="pricing.html">Pricing</a></li>
                                                <li><a href="gallery-fullwidth.html">Gallery Fullwidth</a></li>
                                                <li><a href="gallery-three-column.html">Gallery Grid View</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="gallery-fullwidth.html">Portfolio</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="gallery-fullwidth.html">Gallery Fullwidth</a></li>
                                        <li><a href="gallery-three-column.html">Gallery 3 Column</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="blog.html">Blog</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-three-column.html">Blog 3 Column</a></li>
                                        <li><a href="blog-two-column.html">Blog 2 Column</a></li>
                                        <li><a href="blog-detail.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                    
                </div>
            </div>
        </div><!-- Header Lower End-->
        
    </header><!--End Main Header -->
    
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/parallax/image-1.jpg);">
    	<div class="auto-container">
        	<div class="sec-title">
                <h1>Our Services</h1>
                <div class="page-subtitle">sed diam nonumy eirmod tempor invidunt ut labore</div>
            </div>
        </div>
        <!--Down Arrow-->
        <div class="down-arrow scroll-to-target" data-target=".scroll-to-this"></div>
    </section>
    
    
    <!--Default Section-->
    <section class="default-section scroll-to-this">
    	<div class="auto-container">
            
        	<div class="row clearfix">
            	
                <!--Column-->
                <article class="column icon-column circle-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-left">
                    	<div class="icon img-circle"><span class="flaticon-like80"></span></div>
                        <h3>MARKETING STRATEGIES</h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </article>
                
                <!--Column-->
                <article class="column icon-column circle-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-left">
                    	<div class="icon img-circle"><span class="flaticon-pulse2"></span></div>
                        <h3>IMPROVING STATISTICS </h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </article>
                
                <!--Column-->
                <article class="column icon-column circle-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-left">
                    	<div class="icon img-circle"><span class="flaticon-drawing17"></span></div>
                        <h3>MULTIPLE OPTIONS</h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </article>
                
                <!--Column-->
                <article class="column icon-column circle-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-left">
                    	<div class="icon img-circle"><span class="flaticon-clock32"></span></div>
                        <h3>SEVERAL DIRECTIONS</h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </article>
                
                <!--Column-->
                <article class="column icon-column circle-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-left">
                    	<div class="icon img-circle"><span class="flaticon-flag86"></span></div>
                        <h3>INTELLIGENT PLANNING </h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </article>
                
                <!--Column-->
                <article class="column icon-column circle-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-left">
                    	<div class="icon img-circle"><span class="flaticon-anchor32"></span></div>
                        <h3>MEYECATCHING DESIGN</h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </article>
                
            </div>
        </div>
    </section>
    
    
    <!--Default Section / Background Waves-->
    <section class="default-section bg-waves bg-color outside-hidden" style="background-image:url(images/background/bg-waves-2.png);">
    	<div class="auto-container">
        
        	<div class="sec-title text-center main-title">
                <h2 class="default-title text-uppercase">features &amp; OPTIONS</h2>
                <div class="theme-subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</div>
            </div>
                        
        	<div class="row clearfix">
            	
                <!--Column-->
                <div class="col-md-6 col-sm-12 col-xs-12">
                	<!--Featured Icon Column-->
                    <article class="featured-icon-column">
                        <div class="inner-box">
                            <h3><span class="icon img-circle"><span class="flaticon-thumb3"></span></span> Stet clita ea et gubergren, kasd magna no rebum</h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            </div>
                        </div>
                    </article>
                    
                    <!--Featured Icon Column-->
                    <article class="featured-icon-column">
                        <div class="inner-box">
                            <h3><span class="icon img-circle"><span class="flaticon-pin60"></span></span> Ut wisi enim ad minim veniam, quis nostrud exerci tation</h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            </div>
                        </div>
                    </article>
                    
                    <!--Featured Icon Column-->
                    <article class="featured-icon-column">
                        <div class="inner-box">
                            <h3><span class="icon img-circle"><span class="flaticon-tool305"></span></span> Duis autem vel eum iriure dolor in hendrerit in vulputate veli</h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            </div>
                        </div>
                    </article>
                    
                </div>
                
                <!--Column / Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<figure class="fluid-image-outer"><img src="images/resource/dashboard-image-1.png" alt=""></figure>
                </div>
                
                
            </div>
        </div>
    </section>
    
    
    <!--Default Section-->
    <section class="default-section">
    	<div class="auto-container">
                        
        	<div class="row clearfix">
            	
                <!--Column-->
                <div class="column text-column col-lg-4 col-md-6 col-xs-12">
                	
                    <h2 class="default-title text-uppercase">Our philosophy</h2>
                	<div class="line-left"></div>
                    
                    <div class="text">
                    	<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus es.</p>
						<p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam.</p>
                    </div>
                </div>
                
                <!--Column-->
                <div class="column text-column col-lg-4 col-md-6 col-xs-12">
                	
                    <h2 class="default-title text-uppercase">What we do</h2>
                	<div class="line-left"></div>
                    
                    <!-- Accordion Box -->
                    <div class="accordion-box style-two">
                        
                        <!-- Accordion -->
                        <article class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn active">Stet clita ea et gubergren, kasd magna <div class="toggle-icon"><span class="plus flaticon-add30"></span><span class="minus flaticon-minus42"></span></div></div>
                            <div class="acc-content collapsed">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed.</p>
                            </div>
                        </article>
                        
                        <!-- Accordion -->
                        <article class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">Consetetur sadipscing elitr, sed diam<div class="toggle-icon"><span class="plus flaticon-add30"></span><span class="minus flaticon-minus42"></span></div></div>
                            <div class="acc-content">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed.</p>
                            </div>
                        </article>
                        
                        <!-- Accordion -->
                        <article class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">Dolore magna aliquyam erat individum  <div class="toggle-icon"><span class="plus flaticon-add30"></span><span class="minus flaticon-minus42"></span></div></div>
                            <div class="acc-content">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed.</p>
                            </div>
                        </article>
                        
                    </div>
                    
                    
                        
                </div>
                
                <!--Column-->
                <div class="column text-column col-lg-4 col-md-6 col-xs-12">
                	
                    <h2 class="default-title text-uppercase">Our Experiences</h2>
                	<div class="line-left"></div>
                    
                    <!--Progress Levels-->
                    <div class="progress-levels medium-size">
                                
                        <!--Skill Box-->
                        <div class="progress-box wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <div class="box-title">social marketng</div>
                            <div class="inner">
                                <div class="bar">
                                    <div class="bar-innner"><div class="bar-fill" data-percent="80"><div class="percent"></div></div></div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <!--Skill Box-->
                        <div class="progress-box wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="box-title">seo &amp; KEYWORD RESEARCH</div>
                            <div class="inner">
                                <div class="bar">
                                    <div class="bar-innner"><div class="bar-fill" data-percent="90"><div class="percent"></div></div></div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <!--Skill Box-->
                        <div class="progress-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="box-title">WEB DEVELOPEMENT</div>
                            <div class="inner">
                                <div class="bar">
                                    <div class="bar-innner"><div class="bar-fill" data-percent="60"><div class="percent"></div></div></div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <!--Skill Box-->
                        <div class="progress-box wow fadeInRight" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="box-title">WORDPRESS CUSTOMIZATION</div>
                            <div class="inner">
                                <div class="bar">
                                    <div class="bar-innner"><div class="bar-fill" data-percent="88"><div class="percent"></div></div></div>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                        
                </div>
                
                
            </div>
        </div>
    </section>
    
    
    <!--Section Intro-->
    <section class="section-intro" style="background-image:url(images/parallax/image-1.jpg);">
    	<div class="auto-container">
        	<div class="sec-title">
                <h2 class="default-title text-uppercase white_color">our plans &amp; PRICINGS</h2>
                <div class="theme-subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</div>
            </div>
        </div>
        <!--Down Arrow-->
        <div class="down-arrow scroll-to-target" data-target=".scroll-to-that"></div>
    </section>
    
    
    <!--Pricing Section-->
    <section class="pricing-section scroll-to-that">
    	<div class="auto-container">
                        
        	<div class="row clearfix">
            	
                <!--Pricing Column-->
                <article class="pricing-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="plan-header">
                        	<h3 class="plan-title">BASIC</h3>
                            <h2 class="plan-price">$49</h2>
                            <div class="plan-duration">Per Month</div>
                        </div>
                        <ul class="plan-stats">
                        	<li><span class="icon fa fa-check"></span> Unlimited traffic</li>
                            <li><span class="icon fa fa-check"></span> 2 GB Disk space</li>
                            <li><span class="icon fa fa-check"></span> 100 GB Monthly bandwidth</li>
                            <li><span class="icon fa fa-check"></span> Free security service</li>
                            <li><span class="icon fa fa-check"></span> 2 Dashboard accounts</li>
                        </ul>
                        
                        <a href="#" class="theme-btn rounded-btn">Signup Now</a>
                    </div>
                </article>
                
                
                <!--Pricing Column-->
                <article class="pricing-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="plan-header">
                        	<h3 class="plan-title">Premium</h3>
                            <h2 class="plan-price">$69</h2>
                            <div class="plan-duration">Per Month</div>
                        </div>
                        <ul class="plan-stats">
                        	<li><span class="icon fa fa-check"></span> Unlimited traffic</li>
                            <li><span class="icon fa fa-check"></span> 4 GB Disk space</li>
                            <li><span class="icon fa fa-check"></span> 200 GB Monthly bandwidth</li>
                            <li><span class="icon fa fa-check"></span> Free security service</li>
                            <li><span class="icon fa fa-check"></span> 2 Dashboard accounts</li>
                        </ul>
                        
                        <a href="#" class="theme-btn rounded-btn">Signup Now</a>
                    </div>
                </article>
                
                
                <!--Pricing Column-->
                <article class="pricing-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="plan-header">
                        	<h3 class="plan-title">Developer</h3>
                            <h2 class="plan-price">$89</h2>
                            <div class="plan-duration">Per Month</div>
                        </div>
                        <ul class="plan-stats">
                        	<li><span class="icon fa fa-check"></span> Unlimited traffic</li>
                            <li><span class="icon fa fa-check"></span> 6 GB Disk space</li>
                            <li><span class="icon fa fa-check"></span> 500 GB Monthly bandwidth</li>
                            <li><span class="icon fa fa-check"></span> Free security service</li>
                            <li><span class="icon fa fa-check"></span> 6 Dashboard accounts</li>
                        </ul>
                        
                        <a href="#" class="theme-btn rounded-btn">Signup Now</a>
                    </div>
                </article>
                
                
                <!--Pricing Column-->
                <article class="pricing-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="plan-header">
                        	<h3 class="plan-title">Business</h3>
                            <h2 class="plan-price">$129</h2>
                            <div class="plan-duration">Per Month</div>
                        </div>
                        <ul class="plan-stats">
                        	<li><span class="icon fa fa-check"></span> Unlimited traffic</li>
                            <li><span class="icon fa fa-check"></span> 8 GB Disk space</li>
                            <li><span class="icon fa fa-check"></span> 1000 GB Monthly bandwidth</li>
                            <li><span class="icon fa fa-check"></span> Free security service</li>
                            <li><span class="icon fa fa-check"></span> 8 Dashboard accounts</li>
                        </ul>
                        
                        <a href="#" class="theme-btn rounded-btn">Signup Now</a>
                    </div>
                </article>
                
                
            </div>
        </div>
    </section>
    
    
    
    <!--Main Footer-->
    <footer class="main-footer">
    	
        <!--Footer Upper-->        
        <div class="footer-upper">
            <div class="auto-container">
                <div class="row clearfix">
                
                	<div class="col-lg-4 col-sm-6 col-xs-12 column">
                        <div class="footer-widget about-widget">
                            <h2>About Us</h2>
                            <div class="text">
                            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.</p>
                            </div>
                            
                            <div class="social-links">
                                <a href="#"><span class="fa fa-facebook-f"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-dribbble"></span></a>
                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                <a href="#"><span class="fa fa-pinterest"></span></a>
                                <a href="#"><span class="fa fa-instagram"></span></a>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="col-lg-4 col-sm-6 col-xs-12 column">
                    	<h2>Quick Links</h2>
                    	<div class="row clearfix">
                        	
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <ul>
                                        <li><a href="#">Our Company</a></li>
                                        <li><a href="#">Our Philosophy</a></li>
                                        <li><a href="#">Monthly Statistics</a></li>
                                        <li><a href="#">Marketing Strategies</a></li>
                                        <li><a href="#">Our Services</a></li>
                                    </ul>
        
                                </div>
                            </div>
                            
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <ul>
                                        <li><a href="#">Support Forums</a></li>
                                        <li><a href="#">FAQ &amp; Help Center</a></li>
                                        <li><a href="#">Register an account</a></li>
                                        <li><a href="#">Login with account</a></li>
                                        <li><a href="#">Careers</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="col-lg-4 col-sm-12 col-xs-12 column">
                        <div class="footer-widget newsletter-widget">
                            <h2>Subscribe Newsletter</h2>	
                            <form method="post" action="contact.html">
                            	<div class="form-group">
                                	<input type="text" name="username" value="" placeholder="Enter Name" required>
                                </div>
                                <div class="form-group">
                                	<input type="text" name="useremail" value="" placeholder="Enter Email" required>
                                </div>
                                <div class="form-group">
                                	<button type="submit" class="theme-btn radial-btn bg_orange"><span class="txt">Subscribe Now</span> <span class="img-circle fa fa-arrow-right"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    
                </div>
                
                <!--Contact Info-->
                <div class="contact-info">
                	<ul>
                    	<li><span class="bullet">&bull;</span> 78 Fashion Street, Beverly Hill</li>
                        <li><span class="bullet">&bull;</span> Abony, NYC 12041</li>
                        <li><span class="bullet">&bull;</span> Phone: (800) 0123 4567 890</li>
                        <li><span class="bullet">&bull;</span> E-mail:  radium@envato.com</li>
                                                                             
                    </ul>
                </div>
                
            </div>
        </div>
        
        <!--Footer Bottom-->
    	<div class="footer-bottom">
            <div class="auto-container clearfix">
            	<div class="logo pull-left"><a href="#"><img src="images/logo-2.jpg" alt=""></a></div>
                <!--Copyright-->
                <div class="copyright pull-right">Copyright 2015 &copy; <strong>Radium - Marketing &amp; SEO PSD Template</strong> | All Rights Reservedd</div>
            </div>
        </div>
        
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-arrow-up"></span></div>

<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/bxslider.js"></script>
<script src="js/owl.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>
