<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Radium HTML5 Agency Template | Our Blog</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header -->
    <header class="main-header">
    	<!-- Header Top -->
    	<div class="header-top">
        	<div class="auto-container clearfix">
            	<!-- Top Left -->
            	<div class="top-left">
                	<ul class="clearfix">
                    	<li><a href="#">Welcome to Radium - SEO &amp; Marketing Template</a></li>
                        <li><a href="#"><span class="icon flaticon-phone325"></span> Call us +49 1234 5678 9</a></li>
                    </ul>
                </div>
                
                <!-- Top Right -->
                <div class="top-right">
                	<!--Social Links Style One-->
                	<div class="social-links-one clearfix">
                    	<a href="#" class="facebook"><span class="fa fa-facebook-f"></span></a>
                        <a href="#" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#" class="google-plus"><span class="fa fa-google-plus"></span></a>
                        <a href="#" class="linkedin"><span class="fa fa-linkedin"></span></a>
                        <a href="#" class="pinterest"><span class="fa fa-pinterest-p"></span></a>
                        <a href="#" class="instagram"><span class="fa fa-instagram"></span></a>
                    </div>
                </div>
                
            </div>
        </div><!-- Header Top End -->
        
        <!-- Header Lower -->
        <div class="header-lower">
        	<div class="auto-container clearfix">
            	
                <!--Outer Box-->
                <div class="outer-box">
                
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html"><img src="images/logo-1.png" alt="Radium"></a>
                     </div>
                     
                     <!--Search Box-->
                    <div class="search-box">
                    	<form method="post" action="index.html">
                        	<div class="form-group">
                            	<input type="search" name="search-field" value="" placeholder="Search">
                                <button type="submit"><span class="icon flaticon-right11"></span></button>
                            </div>
                        </form>
                    </div>
                    
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation">
                                <li class="dropdown"><a href="index.html">Home</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="index.html">Homepage One</a></li>
                                        <li><a href="index-2.html">Homepage Two</a></li>
                                        <li><a href="index-3.html">Homepage Three</a></li>
                                        <li><a href="index-4.html">Homepage Four</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="about-1.html">About</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="about-1.html">About One</a></li>
                                        <li><a href="about-2.html">About Two</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="services-1.html">Services</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="services-1.html">Services One</a></li>
                                        <li><a href="services-2.html">Services Two</a></li>
                                        <li class="dropdown"><a href="pricing.html">Other Pages</a>
                                        	<ul class="submenu-dropdown">
                                                <li><a href="pricing.html">Pricing</a></li>
                                                <li><a href="gallery-fullwidth.html">Gallery Fullwidth</a></li>
                                                <li><a href="gallery-three-column.html">Gallery Grid View</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="gallery-fullwidth.html">Portfolio</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="gallery-fullwidth.html">Gallery Fullwidth</a></li>
                                        <li><a href="gallery-three-column.html">Gallery 3 Column</a></li>
                                    </ul>
                                </li>
                                <li class="current dropdown"><a href="blog.html">Blog</a>
                                    <ul class="submenu-dropdown">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-three-column.html">Blog 3 Column</a></li>
                                        <li><a href="blog-two-column.html">Blog 2 Column</a></li>
                                        <li><a href="blog-detail.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                    
                </div>
            </div>
        </div><!-- Header Lower End-->
        
    </header><!--End Main Header -->
    
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/parallax/image-1.jpg);">
    	<div class="auto-container">
        	<div class="sec-title">
                <h1>Blog Archive</h1>
                <div class="page-subtitle">sed diam nonumy eirmod tempor invidunt ut labore</div>
            </div>
        </div>
        <!--Down Arrow-->
        <div class="down-arrow scroll-to-target" data-target=".scroll-to-this"></div>
    </section>
    
    
    <!--Sidebar Page-->
    <div class="sidebar-page scroll-to-this">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Side-->	
                <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
                    
                    <section class="default-section featured-three-col three-column no-padd-top">
                        <div class="row clearfix">
                            
                            <!--Blog Post-->
                            <div class="col-md-6 col-md-12 col-xs-12 column">
                                <article class="inner-box">
                                    <figure class="image-box"><a href="#"><img src="images/resource/featured-image-1.jpg" alt="" title=""></a></figure>
                                    <div class="content">
                                        <div class="author-thumb"><img src="images/resource/auth-thumb-1.jpg" alt=""></div>
                                        <ul class="post-info clearfix">
                                            <li><span class="icon flaticon-calendars12"></span> <a href="#">14 Jan, 2015</a></li>
                                            <li><span class="icon flaticon-tags23"></span><a href="#">markerting</a> , <a href="#">SEO</a></li>
                                        </ul>
                                        <h3><a href="#">Stet clita ea et gubergren, kasd magna no rebum</a></h3>
                                        <div class="text"><p>We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</p></div>
                                    </div>
                                </article>
                            </div>
                            
                            <!--Blog Post-->
                            <div class="col-md-6 col-md-12 col-xs-12 column">
                                <article class="inner-box">
                                    <figure class="image-box"><a href="#"><img src="images/resource/featured-image-2.jpg" alt="" title=""></a></figure>
                                    <div class="content">
                                        <div class="author-thumb"><img src="images/resource/auth-thumb-2.jpg" alt=""></div>
                                        <ul class="post-info clearfix">
                                            <li><span class="icon flaticon-calendars12"></span> <a href="#">14 Jan, 2015</a></li>
                                            <li><span class="icon flaticon-tags23"></span><a href="#">markerting</a> , <a href="#">SEO</a></li>
                                        </ul>
                                        <h3><a href="#">Consetetur sadipscing elitr, sed diam nonumy</a></h3>
                                        <div class="text"><p>We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</p></div>
                                    </div>
                                </article>
                            </div>
                            
                            <!--Blog Post-->
                            <div class="col-md-6 col-md-12 col-xs-12 column">
                                <article class="inner-box">
                                    <figure class="image-box"><a href="#"><img src="images/resource/featured-image-3.jpg" alt="" title=""></a></figure>
                                    <div class="content">
                                        <div class="author-thumb"><img src="images/resource/auth-thumb-3.jpg" alt=""></div>
                                        <ul class="post-info clearfix">
                                            <li><span class="icon flaticon-calendars12"></span> <a href="#">14 Jan, 2015</a></li>
                                            <li><span class="icon flaticon-tags23"></span><a href="#">markerting</a> , <a href="#">SEO</a></li>
                                        </ul>
                                        <h3><a href="#">Invidunt ut labore et dolore magna aliquyam </a></h3>
                                        <div class="text"><p>We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</p></div>
                                    </div>
                                </article>
                            </div>
                            
                            <!--Blog Post-->
                            <div class="col-md-6 col-md-12 col-xs-12 column">
                                <article class="inner-box">
                                    <figure class="image-box"><a href="#"><img src="images/resource/featured-image-7.jpg" alt="" title=""></a></figure>
                                    <div class="content">
                                        <div class="author-thumb"><img src="images/resource/auth-thumb-1.jpg" alt=""></div>
                                        <ul class="post-info clearfix">
                                            <li><span class="icon flaticon-calendars12"></span> <a href="#">14 Jan, 2015</a></li>
                                            <li><span class="icon flaticon-tags23"></span><a href="#">markerting</a> , <a href="#">SEO</a></li>
                                        </ul>
                                        <h3><a href="#">Stet clita ea et gubergren, kasd magna no rebum</a></h3>
                                        <div class="text"><p>We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</p></div>
                                    </div>
                                </article>
                            </div>
                            
                            <!--Blog Post-->
                            <div class="col-md-6 col-md-12 col-xs-12 column">
                                <article class="inner-box">
                                    <figure class="image-box"><a href="#"><img src="images/resource/featured-image-8.jpg" alt="" title=""></a></figure>
                                    <div class="content">
                                        <div class="author-thumb"><img src="images/resource/auth-thumb-2.jpg" alt=""></div>
                                        <ul class="post-info clearfix">
                                            <li><span class="icon flaticon-calendars12"></span> <a href="#">14 Jan, 2015</a></li>
                                            <li><span class="icon flaticon-tags23"></span><a href="#">markerting</a> , <a href="#">SEO</a></li>
                                        </ul>
                                        <h3><a href="#">Consetetur sadipscing elitr, sed diam nonumy</a></h3>
                                        <div class="text"><p>We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</p></div>
                                    </div>
                                </article>
                            </div>
                            
                            <!--Blog Post-->
                            <div class="col-md-6 col-md-12 col-xs-12 column">
                                <article class="inner-box">
                                    <figure class="image-box"><a href="#"><img src="images/resource/featured-image-9.jpg" alt="" title=""></a></figure>
                                    <div class="content">
                                        <div class="author-thumb"><img src="images/resource/auth-thumb-3.jpg" alt=""></div>
                                        <ul class="post-info clearfix">
                                            <li><span class="icon flaticon-calendars12"></span> <a href="#">14 Jan, 2015</a></li>
                                            <li><span class="icon flaticon-tags23"></span><a href="#">markerting</a> , <a href="#">SEO</a></li>
                                        </ul>
                                        <h3><a href="#">Invidunt ut labore et dolore magna aliquyam </a></h3>
                                        <div class="text"><p>We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</p></div>
                                    </div>
                                </article>
                            </div>
                            
                            
                            
                        </div>
                    </section>
                    
                    <br>
                    <!-- Centered Pagination -->
                    <div class="centered-pagination text-left">
                        <ul>
                            <li><a class="prev" href="#"><span class="fa fa-angle-left"></span>&ensp;Prev</a></li>
                            <li><a href="#" class="active">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">....</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#">11</a></li>
                            <li><a href="#">12</a></li>
                            <li><a class="next" href="#">Next&ensp;<span class="fa fa-angle-right"></span></a></li>
                        </ul>
                    </div>
                
                    
                </div>
                <!--Content Side-->
                
                <!--Sidebar-->	
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <aside class="sidebar">
                    
                        <!-- Search Form -->
                        <div class="widget search-box">
                            
                            <form method="post" action="index.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search">
                                    <button type="submit"><span class="icon flaticon-right11"></span></button>
                                </div>
                            </form>
                            
                        </div>
                        
                        <!-- Popular Categories -->
                        <div class="widget popular-categories wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Popular Categories</h3></div>
                            
                            <ul class="list">
                            	<li><a class="clearfix" href="#"><span class="txt pull-left">Internet Marketing </span> <span class="count pull-right">(05)</span></a></li>
                                <li><a class="clearfix" href="#"><span class="txt pull-left">Search Engine Optimization</span> <span class="count pull-right">(08)</span></a></li>
                                <li><a class="clearfix" href="#"><span class="txt pull-left">Webdevelopement</span> <span class="count pull-right">(12)</span></a></li>
                                <li><a class="clearfix" href="#"><span class="txt pull-left">Creative Strategies</span> <span class="count pull-right">(33)</span></a></li>
                                <li><a class="clearfix" href="#"><span class="txt pull-left">Webhosting Services</span> <span class="count pull-right">(07)</span></a></li>
                            </ul>
                            
                        </div>
                        
                        <!-- Recent Posts -->
                        <div class="widget recent-posts wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Latest News</h3></div>
                            
                            <div class="post">
                                <div class="post-thumb"><a href="#"><img src="images/resource/thumb-1.jpg" alt=""></a></div>
                                <h4><a href="#">Lorem ipsum dolor sit amet consetetur</a></h4>
                                <div class="post-info"><span class="icon flaticon-calendars12"></span> 11/01/2015 </div>
                            </div>
                            
                             <div class="post">
                                <div class="post-thumb"><a href="#"><img src="images/resource/thumb-2.jpg" alt=""></a></div>
                                <h4><a href="#">Lorem ipsum dolor sit amet consetetur</a></h4>
                                <div class="post-info"><span class="icon flaticon-calendars12"></span> 11/01/2015 </div>
                            </div>
                            
                             <div class="post">
                                <div class="post-thumb"><a href="#"><img src="images/resource/thumb-3.jpg" alt=""></a></div>
                                <h4><a href="#">Lorem ipsum dolor sit amet consetetur</a></h4>
                                <div class="post-info"><span class="icon flaticon-calendars12"></span> 11/01/2015 </div>
                            </div>
                            
                        </div>
                        
                        <!-- Recent From Gallery -->
                        <div class="widget recent-gallery">
                            <div class="sidebar-title"><h3>Flicker Gallery</h3></div>
                            
                            <div class="clearfix">
                            	<figure class="image"><a href="images/resource/blog-image-1.jpg" class="lightbox-image"><img src="images/resource/thumb-1.jpg" alt=""></a></figure>
                                <figure class="image"><a href="images/resource/blog-image-2.jpg" class="lightbox-image"><img src="images/resource/thumb-2.jpg" alt=""></a></figure>
                                <figure class="image"><a href="images/resource/blog-image-3.jpg" class="lightbox-image"><img src="images/resource/thumb-3.jpg" alt=""></a></figure>
                                <figure class="image"><a href="images/resource/blog-image-1.jpg" class="lightbox-image"><img src="images/resource/thumb-4.jpg" alt=""></a></figure>
                                <figure class="image"><a href="images/resource/blog-image-2.jpg" class="lightbox-image"><img src="images/resource/thumb-5.jpg" alt=""></a></figure>
                                <figure class="image"><a href="images/resource/blog-image-3.jpg" class="lightbox-image"><img src="images/resource/thumb-6.jpg" alt=""></a></figure>
                            </div>
                            
                        </div>
                        
                        <!-- Popular Tags -->
                        <div class="widget popular-tags">
                            <div class="sidebar-title"><h3>Popular Tags</h3></div>
                            
                            <a href="#">Creative</a>
                            <a href="#">Media</a>
                            <a href="#">SEO</a>
                            <a href="#">Marketing</a>
                            <a href="#">Development</a>
                            <a href="#">Website</a>
                            <a href="#">Design</a>
                            
                        </div>
                                
                    </aside>
                
                    
                </div>
                <!--Sidebar-->
                
                
            </div>
        </div>
    </div>
    
    
    <!--Main Footer-->
    <footer class="main-footer">
    	
        <!--Footer Upper-->        
        <div class="footer-upper">
            <div class="auto-container">
                <div class="row clearfix">
                
                	<div class="col-lg-4 col-sm-6 col-xs-12 column">
                        <div class="footer-widget about-widget">
                            <h2>About Us</h2>
                            <div class="text">
                            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.</p>
                            </div>
                            
                            <div class="social-links">
                                <a href="#"><span class="fa fa-facebook-f"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-dribbble"></span></a>
                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                <a href="#"><span class="fa fa-pinterest"></span></a>
                                <a href="#"><span class="fa fa-instagram"></span></a>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="col-lg-4 col-sm-6 col-xs-12 column">
                    	<h2>Quick Links</h2>
                    	<div class="row clearfix">
                        	
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <ul>
                                        <li><a href="#">Our Company</a></li>
                                        <li><a href="#">Our Philosophy</a></li>
                                        <li><a href="#">Monthly Statistics</a></li>
                                        <li><a href="#">Marketing Strategies</a></li>
                                        <li><a href="#">Our Services</a></li>
                                    </ul>
        
                                </div>
                            </div>
                            
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <ul>
                                        <li><a href="#">Support Forums</a></li>
                                        <li><a href="#">FAQ &amp; Help Center</a></li>
                                        <li><a href="#">Register an account</a></li>
                                        <li><a href="#">Login with account</a></li>
                                        <li><a href="#">Careers</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="col-lg-4 col-sm-12 col-xs-12 column">
                        <div class="footer-widget newsletter-widget">
                            <h2>Subscribe Newsletter</h2>	
                            <form method="post" action="contact.html">
                            	<div class="form-group">
                                	<input type="text" name="username" value="" placeholder="Enter Name" required>
                                </div>
                                <div class="form-group">
                                	<input type="text" name="useremail" value="" placeholder="Enter Email" required>
                                </div>
                                <div class="form-group">
                                	<button type="submit" class="theme-btn radial-btn bg_orange"><span class="txt">Subscribe Now</span> <span class="img-circle fa fa-arrow-right"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    
                </div>
                
                <!--Contact Info-->
                <div class="contact-info">
                	<ul>
                    	<li><span class="bullet">&bull;</span> 78 Fashion Street, Beverly Hill</li>
                        <li><span class="bullet">&bull;</span> Abony, NYC 12041</li>
                        <li><span class="bullet">&bull;</span> Phone: (800) 0123 4567 890</li>
                        <li><span class="bullet">&bull;</span> E-mail:  radium@envato.com</li>
                                                                             
                    </ul>
                </div>
                
            </div>
        </div>
        
        <!--Footer Bottom-->
    	<div class="footer-bottom">
            <div class="auto-container clearfix">
            	<div class="logo pull-left"><a href="#"><img src="images/logo-2.jpg" alt=""></a></div>
                <!--Copyright-->
                <div class="copyright pull-right">Copyright 2015 &copy; <strong>Radium - Marketing &amp; SEO PSD Template</strong> | All Rights Reservedd</div>
            </div>
        </div>
        
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-arrow-up"></span></div>

<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/bxslider.js"></script>
<script src="js/owl.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>
