<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Radium HTML5 Agency Template | Services Style One</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
     <!-- Main Header -->
    <header class="main-header">
        <!-- Header Top -->
        <div class="header-top">
            <div class="auto-container clearfix">
                <!-- Top Left -->
                <div class="top-left">
                    <ul class="clearfix">
                        <li><a href="#">Bienvenidos a la página oficial de la Asociación de Estudiantes de Ingeniería de Sistemas Informáticos</a></li>
                        
                    </ul>
                </div>
                
                <!-- Top Right -->
                <div class="top-right">
                    <!--Social Links Style One-->
                    <div class="social-links-one clearfix">
                        <a href="https://www.facebook.com/ASEISIUES" class="facebook"><span class="fa fa-facebook-f"></span></a>
                       <!-- <a href="#" class="twitter"><span class="fa fa-twitter"></span></a> 
                       <a href="#" class="linkedin"><span class="fa fa-linkedin"></span></a>
                        <a href="#" class="pinterest"><span class="fa fa-pinterest-p"></span></a>
                        <a href="#" class="instagram"><span class="fa fa-instagram"></span></a>
                        -->
                        <a href="#" class="google-plus"><span class="fa fa-google-plus"></span></a>
                        
                    </div>
                </div>
                
            </div>
        </div><!-- Header Top End -->
        
        <!-- Header Lower -->
        <div class="header-lower">
            <div class="auto-container clearfix">
                
                <!--Outer Box-->
                <div class="outer-box">
                
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html"><img src="images/logo-1.png" alt="Aseisi"></a>
                     </div>
                     
                     <!--Search Box
                    <div class="search-box">
                        <form method="post" action="index.html">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Search">
                                <button type="submit"><span class="icon flaticon-right11"></span></button>
                            </div>
                        </form>
                    </div>
                    -->
                    
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation">
                                <li ><a href="index.html">Home</a>
                                  
                                </li>
                                <li ><a href="about-2.html">About</a>
                                   
                                </li>
                                <li ><a href="services-1.html">Services</a>
                                   
                                </li>
                                <li ><a href="gallery-three-column.html">Portfolio</a>
                                    
                                </li>
                                <li ><a href="blog.html">Blog</a> </li>
                                
                                <li><a href="contact.html">Trámites</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                    
                </div>
            </div>
        </div><!-- Header Lower End-->
        
    </header><!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/parallax/image-1.jpg);">
    	<div class="auto-container">
        	<div class="sec-title">
                <h1>Our Services</h1>
                <div class="page-subtitle">sed diam nonumy eirmod tempor invidunt ut labore</div>
            </div>
        </div>
        <!--Down Arrow-->
        <div class="down-arrow scroll-to-target" data-target=".scroll-to-this"></div>
    </section>
    
    
    <!--Default Section-->
    <section class="default-section scroll-to-this">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Column-->
                <div class="column icon-column center-icon-column col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box text-center">
                    	<div class="icon img-circle bg_blue wow zoomIn" data-wow-delay="0ms" data-wow-duration="1500ms"><span class="flaticon-looking2"></span></div>
                        <h3 class="montserrat-font text-uppercase">MARKETING STRATEGIES</h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </div>
                
                <!--Column-->
                <div class="column icon-column center-icon-column col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box text-center">
                    	<div class="icon img-circle bg_purple wow zoomIn" data-wow-delay="300ms" data-wow-duration="1500ms"><span class="flaticon-lightbulb23"></span></div>
                        <h3 class="montserrat-font text-uppercase">CREATIVE IDEAS</h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </div>
                
                <!--Column-->
                <div class="column icon-column center-icon-column col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box text-center">
                    	<div class="icon img-circle bg_orange wow zoomIn" data-wow-delay="600ms" data-wow-duration="1500ms"><span class="flaticon-flying16"></span></div>
                        <h3 class="montserrat-font text-uppercase">TRAFFIC BOOSTER</h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </div>
                
                <!--Column-->
                <div class="column icon-column center-icon-column col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box text-center">
                    	<div class="icon img-circle bg_red wow zoomIn" data-wow-delay="900ms" data-wow-duration="1500ms"><span class="flaticon-network3"></span></div>
                        <h3 class="montserrat-font text-uppercase">SOCIAL CONNECT</h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    
    <!--Full Image Section-->
    <section class="full-image-section no-padd-top">
    	<div class="auto-container">
        	
            <div class="sec-title text-center main-title">
                <h2 class="default-title text-uppercase">use it on any device</h2>
                <div class="theme-subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</div>
            </div>
            
            <figure class="image text-center"><img src="images/resource/full-image-1.jpg" alt=""></figure>
            
        </div>
        
        <!--Down Arrow-->
        <div class="down-arrow scroll-to-target" data-target=".scroll-to-that"></div>
    </section>
    
    
    <!--Our Features Section-->
    <section class="features-section scroll-to-that">
    	<div class="auto-container">
            
            <!--Upper Row-->
            <div class="upper-row clearfix">
                
                <!--Featured Column / Icon Right-->
                <article class="featured-column icon-right">
                    <div class="inner-box">
                        <h3><span class="icon img-circle color_orange"><span class="flaticon-weapon59"></span></span> Accumsan et iusto odio dignissimblandit praesent</h3>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore.</p>
                        </div>
                    </div>
                </article>
                
                <!--Featured Column / Icon Right-->
                <article class="featured-column icon-left">
                    <div class="inner-box">
                        <h3><span class="icon img-circle color_green"><span class="flaticon-levels1"></span></span> Accumsan et iusto odio dignissimblandit praesent</h3>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore.</p>
                        </div>
                    </div>
                </article>
                
            </div>
            
            <!--Middle Image-->
            <div class="middle-image">
                
                <figure class="image-box"><a href="#"><img src="images/logo-2.png" alt=""></a></figure>
                
            </div>
            
            <!--Lower Row-->
            <div class="lower-row clearfix">
                
                <!--Featured Column / Icon Right-->
                <article class="featured-column icon-right">
                    <div class="inner-box">
                        <h3><span class="icon img-circle color_purple"><span class="flaticon-cogwheels10"></span></span> Accumsan et iusto odio dignissimblandit praesent</h3>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore.</p>
                        </div>
                    </div>
                </article>
                
                <!--Featured Column / Icon Right-->
                <article class="featured-column icon-left">
                    <div class="inner-box">
                        <h3><span class="icon img-circle color_red"><span class="flaticon-gps6"></span></span> Accumsan et iusto odio dignissimblandit praesent</h3>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore.</p>
                        </div>
                    </div>
                </article>
                
            </div>
            
        </div>
    </section>
    
    
    <!--Default Section-->
    <section class="default-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Column-->
                <div class="column col-md-7 col-sm-12 col-xs-12">
                	<figure class="image"><img class="img-responsive" src="images/resource/featured-image-5.png" alt=""></figure>
                </div>
                
                
                <!--Column-->
                <div class="column text-column col-md-5 col-sm-12 col-xs-12">
                	<div class="inner-box">
                        
                        <br>
                        <div class="sec-title">
                            <h2 class="default-title text-uppercase">our features showcase</h2>
                            <div class="theme-subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</div>
                        </div>
                        <br>
                        
                        <!-- Accordion Box -->
                        <div class="accordion-box style-one">
                            
                            <!-- Accordion -->
                            <article class="accordion">
                                <div class="acc-btn active"><div class="toggle-icon"><span class="flaticon-levels1"></span></div> Stet clita ea et gubergren, kasd magna no rebum</div>
                                <div class="acc-content collapsed">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata.</p>
                                </div>
                            </article>
                            
                            <!-- Accordion -->
                            <article class="accordion">
                                <div class="acc-btn"><div class="toggle-icon"><span class="flaticon-location74"></span></div> Ut wisi enim ad minim veniam, quis nostrud</div>
                                <div class="acc-content">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata.</p>
                                </div>
                            </article>
                            
                            <!-- Accordion -->
                            <article class="accordion">
                                <div class="acc-btn"><div class="toggle-icon"><span class="flaticon-tool305"></span></div> Ut wisi enim ad minim veniam, quis tation</div>
                                <div class="acc-content">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata.</p>
                                </div>
                            </article>
                            
                        </div>
                        
                        <br>
                        <a class="theme-btn radial-btn bg_green" href="#"><span class="txt">Get Started Now</span> <span class="img-circle fa fa-arrow-right"></span></a>
                        
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>
    
    <!--Parallax Section-->
    <section class="parallax-section" style="background-image:url(images/parallax/image-3.jpg);">
    	<div class="auto-container">
            
            <h2>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</h2>
            <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</div>
            <a class="theme-btn radial-btn bg_red" href="#"><span class="txt">Get Started Now</span> <span class="img-circle fa fa-arrow-right"></span></a>
            
        </div>
    </section>
    
    
    <!--Main Footer-->
    <footer class="main-footer">
    	
        <!--Footer Upper-->        
        <div class="footer-upper">
            <div class="auto-container">
                <div class="row clearfix">
                
                	<div class="col-lg-4 col-sm-6 col-xs-12 column">
                        <div class="footer-widget about-widget">
                            <h2>About Us</h2>
                            <div class="text">
                            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.</p>
                            </div>
                            
                            <div class="social-links">
                                <a href="#"><span class="fa fa-facebook-f"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-dribbble"></span></a>
                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                <a href="#"><span class="fa fa-pinterest"></span></a>
                                <a href="#"><span class="fa fa-instagram"></span></a>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="col-lg-4 col-sm-6 col-xs-12 column">
                    	<h2>Quick Links</h2>
                    	<div class="row clearfix">
                        	
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <ul>
                                        <li><a href="#">Our Company</a></li>
                                        <li><a href="#">Our Philosophy</a></li>
                                        <li><a href="#">Monthly Statistics</a></li>
                                        <li><a href="#">Marketing Strategies</a></li>
                                        <li><a href="#">Our Services</a></li>
                                    </ul>
        
                                </div>
                            </div>
                            
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <ul>
                                        <li><a href="#">Support Forums</a></li>
                                        <li><a href="#">FAQ &amp; Help Center</a></li>
                                        <li><a href="#">Register an account</a></li>
                                        <li><a href="#">Login with account</a></li>
                                        <li><a href="#">Careers</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="col-lg-4 col-sm-12 col-xs-12 column">
                        <div class="footer-widget newsletter-widget">
                            <h2>Subscribe Newsletter</h2>	
                            <form method="post" action="contact.html">
                            	<div class="form-group">
                                	<input type="text" name="username" value="" placeholder="Enter Name" required>
                                </div>
                                <div class="form-group">
                                	<input type="text" name="useremail" value="" placeholder="Enter Email" required>
                                </div>
                                <div class="form-group">
                                	<button type="submit" class="theme-btn radial-btn bg_orange"><span class="txt">Subscribe Now</span> <span class="img-circle fa fa-arrow-right"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    
                </div>
                
                <!--Contact Info-->
                <div class="contact-info">
                	<ul>
                    	<li><span class="bullet">&bull;</span> 78 Fashion Street, Beverly Hill</li>
                        <li><span class="bullet">&bull;</span> Abony, NYC 12041</li>
                        <li><span class="bullet">&bull;</span> Phone: (800) 0123 4567 890</li>
                        <li><span class="bullet">&bull;</span> E-mail:  radium@envato.com</li>
                                                                             
                    </ul>
                </div>
                
            </div>
        </div>
        
        <!--Footer Bottom-->
    	<div class="footer-bottom">
            <div class="auto-container clearfix">
            	<div class="logo pull-left"><a href="#"><img src="images/logo-2.jpg" alt=""></a></div>
                <!--Copyright-->
                <div class="copyright pull-right">Copyright 2015 &copy; <strong>Radium - Marketing &amp; SEO PSD Template</strong> | All Rights Reservedd</div>
            </div>
        </div>
        
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-arrow-up"></span></div>

<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/bxslider.js"></script>
<script src="js/owl.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>
